<ul class="nav nav-tabs">
    <li class="active"><a href="#payment-method-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
</ul>
<div class="panel-body form-body">
    {{ bootstrap_set_style('horizontal') }}
    {{ form_errors(form) }}
    <div class="tab-content">
        <div class="tab-pane active" id="payment-method-general">
            {{ form_row(form.paymentName) }}
            {{ form_row(form.factoryName) }}
            {% if form.config is defined %}
            {{ form_row(form.config) }}
            {% endif %}
            {#{{ form_row(form.enabled) }}#}
        </div>
        {{ form_rest(form) }}
    </div>
</div>