{% extends "EkynaAdminBundle:Entity:sided.html.twig" %}

{% block title %}
<h1>{{ 'ekyna_payment.method.header.new'|trans|raw }}</h1>
{% endblock title %}

{% block actions %}
{{ admin_resource_btn('ekyna_payment.method', 'list') }}
{% endblock actions %}

{% block main %}
<form action="{{ path('ekyna_payment_method_admin_new') }}" {{ form_enctype(form) }} method="post" class="form-horizontal form-with-tabs">

    <ul class="nav nav-tabs">
        <li class="active"><a href="#payment-method-general" data-toggle="tab">{{ 'ekyna_core.field.general'|trans }}</a></li>
        {% if flow.getCurrentStepNumber() == 2 %}
        <li><a href="#payment-method-content" data-toggle="tab">{{ 'ekyna_core.field.content'|trans }}</a></li>
        <li><a href="#payment-method-messages" data-toggle="tab">{{ 'ekyna_payment.message.label.plural'|trans }}</a></li>
        {% endif %}
    </ul>

    <div class="panel-body form-body">
        {{ bootstrap_set_style('horizontal') }}
        {{ bootstrap_set_col_size('md') }}
        <div class="tab-content">
            {{ form_errors(form) }}
            <div class="tab-pane active" id="payment-method-general">
                {% if flow.getCurrentStepNumber() == 1 %}
                    {{ form_row(form.factoryName) }}
                {% else %}
                    {{ form_row(form.gatewayName) }}
                    {{ form_row(form.factoryName) }}
                    {% if form.config is defined %}
                    {{ form_row(form.config) }}
                    {% endif %}
                    {{ form_row(form.enabled) }}
                {% endif %}
            </div>
            {% if flow.getCurrentStepNumber() == 2 %}
            <div class="tab-pane" id="payment-method-content">
                {{ form_row(form.image) }}
                {{ form_row(form.description) }}
            </div>
            <div class="tab-pane" id="payment-method-messages">
                {{ form_widget(form.messages) }}
            </div>
            {% endif %}
            {{ form_rest(form) }}
        </div>
    </div>

    <div class="form-footer">
        <div class="form-group row">
            <div class="col-md-offset-2 col-md-10">
                {% set renderBackButton = flow.getCurrentStepNumber() in (flow.getFirstStepNumber() + 1) .. flow.getLastStepNumber() %}
                <button type="submit" name="submit" class="btn btn-primary">
                    <span class="glyphicon glyphicon-ok"></span>
                    {%- if flow.getCurrentStepNumber() < flow.getLastStepNumber() -%}
                        {{- 'ekyna_core.button.next_step'|trans -}}
                    {%- else -%}
                        {{- 'ekyna_core.button.validate'|trans -}}
                    {%- endif -%}
                </button>
                {% if renderBackButton %}
                <button type="submit" class="btn btn-default" name="{{ flow.getFormTransitionKey() }}" value="back" formnovalidate="formnovalidate">
                    {{- 'ekyna_core.button.back'|trans -}}
                </button>
                {% endif %}
            </div>
        </div>
    </div>

</form>
{% endblock main %}