{% extends 'EkynaAdminBundle:Form:form_div_layout.html.twig' %}

{% block ekyna_payment_messages_widget %}
{% spaceless %}
<ul class="nav nav-tabs">
    {% for child in form %}
    <li{% if loop.first %} class="active"{% endif %}>
        <a href="#payment-method-state-{{ child.vars.state }}" data-toggle="tab">
            {{ get_payment_state(child.vars.state) }}
        </a>
    </li>
    {% endfor %}
</ul>
<div class="panel-body" style="border: 1px solid #ddd; border-top: none; padding:15px 15px 1px 15px; margin-bottom: 15px;">
    <div class="tab-content">
        {% for child in form %}
        <div class="tab-pane{% if loop.first %} active{% endif %}" id="payment-method-state-{{ child.vars.state }}">
            {{ form_errors(child) }}
            {{ form_row(child.flash) }}
            {{ form_row(child.email) }}
            {{ form_rest(child) }}
        </div>
        {% endfor %}
    </div>
</div>
{% endspaceless %}
{% endblock ekyna_payment_messages_widget %}

{% block ekyna_payment_method_choice_widget %}
{% spaceless %}
{% if compound %}
    <div class="payment-method-choice">
        {% for child in form %}
        {% set method = form.vars.choices[child.vars.value].data %}
        <div class="row">
            <div class="col-sm-4 payment-method-choice-visual">
                {{ form_widget(child) }}
                <label for="{{ child.vars.id }}">
                {% if method.image.path %}
                    <img src="{{ method.image.path|imagine_filter('payment_method') }}" alt="{{ method.image.alt }}" class="img-responsive">
                {% else %}
                    <img src="{{ asset('bundles/ekynapayment/img/money.png') }}" alt="Payment" class="img-responsive">
                {% endif %}
                </label>
            </div>
            <div class="col-sm-8 payment-method-choice-description">
                <p>{{ method.paymentName }}</p>
                {{ method.description|raw }}
                <p>
                    <label for="{{ child.vars.id }}" class="btn btn-xs btn-primary">
                        {{ 'ekyna_payment.method.button.choose'|trans({'%payment_name%': method.paymentName}) }}
                    </label>
                </p>
            </div>
        </div>
        {% endfor %}
    </div>
{% else %}
    {{ block('form_widget_simple') }}
{% endif %}
{% endspaceless %}
{% endblock ekyna_payment_method_choice_widget %}